.container-navbar {
  position: sticky;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: deepskyblue;
  width: 97%;
  height: 60px;
  margin-top: 1rem;
}

.container-links {
  display: flex;
  flex-direction: row;
  /* width: 70%; */
  justify-content: flex-end;
}

.link {
  text-decoration: none;
  color: deepskyblue;
  padding-left: 3rem;
  padding-right: 0.5rem;
}
