.container-navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  color: deepskyblue;
  width: 97%;
  height: 60px;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.container-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.link {
  text-decoration: none;
  color: deepskyblue;
  padding-left: 3rem;
  padding-right: 0.5rem;
}

.link:hover {
  font-weight: bold;
  color: rgb(95, 255, 188);
}
